.c-circle {
  &01,
  &02,
  &03,
  &04 {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    flex-direction: column;
  }
  &01 {
    width: 90px;
    height: 90px;
    border: 6px solid #FFD500;
    @include font-line(15, 15);
    font-family: 'Zen Maru Gothic', sans-serif;;
    letter-spacing: .06em;
    text-align: center;
    padding-bottom: 3px;
    position: absolute;
    top: -41px;
    left: 17px;
    background: #F8F8F8;
    @include is-responsive {
      width: 60px;
      height: 60px;
      left: -23px;
      top: -24px;
      @include font-line(10, 10);
      border-width: 4px;
      padding-bottom: 0;
    }
    span {
      @include font-line(28, 11);
      font-weight: 600;
      font-family: 'Roboto Slab', serif;
      display: inline-block;
      padding-top: 11px;
      @include is-responsive {
        @include font-line(18, 18);
        padding-top: 3px;
      }
    }
  }
  &02 {
    width: 90px;
    height: 90px;
    position: absolute;
    background: $color-primary;
    top: -46px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
    @include is-responsive {
      width: 81px;
      height: 81px;
      padding-bottom: 0;
    }
    span {
      @include font-line(12, 12);
      letter-spacing: 0.03em;
      @include is-responsive {
        @include font-line(11, 11);
      }
    }
    & span:last-child {
      @include font-line(34, 34);
      letter-spacing: 0.06em;
      display: block;
      padding-top: 5px;
      @include is-responsive {
        @include font-line(32, 32);
      }
    }
  }

  &03 {
    width: 96px;
    height: 96px;
    border: 1px solid #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Zen Maru Gothic', sans-serif;;
    @include font-line(14, 19);
    letter-spacing: 0;
    @include is-responsive {
      width: 58px;
      height: 58px;
      @include font-line(9, 11);
    }
  }

  &04 {
    width: 112px;
    height: 112px;
    background-color: #ffd500;
    color: #565225;
    @include font-line(17, 28);
    letter-spacing: 0.02em;
    font-family: 'Zen Maru Gothic', sans-serif;;
    position: absolute;
    top: -56px;
    z-index: 2;
    right: 29px;
    transform: rotate(15deg);
    @include is-responsive {
      width: 69px;
      height: 69px;
      top: -16px;
      font-size: 11px;
    }
  }
}
