.l-header {
  background-color: #eee;
  position: relative;
  &__top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #ffffff;
    height: 98px;
    display: flex;
    align-items: center;
    padding: 0 160px;
    box-shadow: 0px -21px 34px;
    @include is-responsive {
      padding: 6px 8px;
      height: 45px;
      z-index: 99;
    }
  }
  &__nav {
    height: 217.2px;
    margin-top: 98px;
    width: 100%;
    position: relative;
    background: transparent;
    z-index: 99;
    @include is-min(1400px) {
      height: 326.2px;
    }
    @include is-responsive {
      margin-top: 45px;
      height: 70.2px;
      position: fixed;
      z-index: 99;
      &::before {
        background-color: #ffd500;
        content: "";
        height: 10vw;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
    &::after {
      content: "";
      background: url(../tiny/raw/header-bg01.svg) no-repeat;
      background-size: cover;
      background-position: 50%;
      background-position-y: -1vw;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include is-responsive {
        background: url(../tiny/raw/header-bg01-sp2.svg) no-repeat;
        background-size: cover;
        background-position: 50%;
        height: 22vw;
      }
    }
    &_menu {
      display: flex;
      justify-content: space-between;
      max-width: 652px;
      margin-left: auto;
      padding-top: 17px;
      position: relative;
      z-index: 2;
      &-sp {
        position: fixed;
        top: 45px;
        left: 0;
        z-index: 999;
        background: #fff;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        display: none;
        max-width: 100%;
        .nav_item {
          padding-bottom: 34px;
          a {
            font-size: 16px !important;
            font-weight: 700;
            letter-spacing: 0.06em;
            font-family: "Zen Maru Gothic", sans-serif;
          }
          &:last-child {
            padding-bottom: 0;
          }
        }
        &.isActive {
          display: flex;
        }
        &-inner {
          background-color: #ffd500;
          height: 73%;
          padding-top: 61px;
          text-align: center;
          width: 100%;
          margin-top: -17px;
          position: relative;
          &::after {
            content: "";
            width: 100%;
            position: absolute;
            left: 0;
            height: 200px;
            background: url(../tiny/raw/header-bg01-sp.png) no-repeat;
            background-position: 50%;
            background-size: contain;
            bottom: -117px;
            z-index: -1;
          }
        }
      }
    }
    .nav_item {
      a {
        font-family: "Zen Maru Gothic", sans-serif;
        @include font-line(14, 14);
        font-weight: 700;
        color: #565225;
        letter-spacing: 0.06em;
        &:hover {
          opacity: 0.6;
          transition: 0.6s;
        }
      }
    }
    .hamburger__menu {
      position: absolute;
      z-index: 3;
      height: 7vw;
      width: 10vw;
      right: 20px;
      top: 4vw;
      z-index: 9999;
      cursor: pointer;
      li {
        width: 100%;
        height: 1vw;
        position: absolute;
        background-color: #261817;
        left: 0;
        transition: 0.5s ease;
        &:first-child {
          top: 0;
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 50%;
          transform: translateY(-50%);
        }
        &:nth-child(3) {
          opacity: 0;
        }
        &:last-child {
          bottom: 0;
        }
      }
      &.isActive {
        top: 6vw;
        li {
          &:first-child,
          &:last-child {
            opacity: 0;
          }
          &:nth-child(2) {
            transform: rotate(-45deg);
            opacity: 1;
          }
          &:nth-child(3) {
            transform: rotate(45deg);
            opacity: 1;
          }
        }
      }
    }
  }
  &__mainVisual {
    background-color: #eeefee;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @include is-responsive {
      flex-direction: column-reverse;
    }
    .multi-skywater {
      position: absolute;
      bottom: -96px;
      width: 297.31px;
      left: 50%;
      z-index: 2;
      transform: translateX(-50%);
    }
  }
  &__col {
    position: relative;
    @include is-responsive {
      width: 100% !important;
    }
    &:nth-child(2) {
      text-align: center;
      display: flex;
      width: 42%;
      align-items: center;
      justify-content: center;
      .slick-dots {
        width: 139px;
        height: 14px;
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include is-responsive {
          bottom: unset;
          top: 30px;
          width: 123px;
        }
        &-item {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: #fff;
          cursor: pointer;
          @include is-responsive {
            width: 12px;
            height: 12px;
          }
          &.isActive {
            background-color: #ffd500;
          }
        }
      }
    }
    &:last-child {
      width: 58%;
    }
    &_left {
      display: flex;
      justify-content: flex-end;
      padding: 66px 68px 183px 95px;
      @include is-responsive {
        padding: 74px 48px 41.5px 36px;
      }
    }
  }
}
