.p-content {
  &01,
  &02 {
    .frame__content {
      background: url(../tiny/raw/sect_6-img02.png) no-repeat;
      height: 119.11px;
      width: 124.16px;
      background-size: cover;
      background-position: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-left: 13px;
      @include is-responsive {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(4%);
        width: 110.85px;
        height: 106.33px;
      }
      p {
        @include font-line(19, 25);
        font-weight: 700;
        letter-spacing: 0.06em;
        color: #565225;
      }
    }
  }
  &01 {
    background-color: $color-primary;
    color: #fff;
    margin: 62px 0 0;
    &__main {
      padding: 32px 0 40px;
      max-width: 782px;
      margin: 0 auto;
      @include is-responsive {
        padding: 32px 9px 33px;
        max-width: 100%;
      }
    }
    &__row {
      display: flex;
      justify-content: space-between;
      @include is-responsive {
        flex-direction: column;
      }
    }
    &__column:first-child {
      width: 185px;
      align-self: flex-end;
      @include is-responsive {
        width: 100%;
      }
      p.badge {
        text-align: center;
        min-height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid #eeefee;
        font-weight: 700;
        letter-spacing: 0;
        @include font-line(15);
        @include is-responsive {
          width: 158px;
          margin: 117px auto 0;
          @include font-line(12);
          min-height: 33px;
        }
        @include is-max(376px) {
          margin: 117px auto 0 0;
        }
      }
      img {
        width: 151px;
        height: 181px;
        position: absolute;
        top: -21px;
        @include is-responsive {
          width: 135px;
          height: 162px;
          left: 50%;
          transform: translateX(-95%);
          top: -32px;
        }
      }
    }
    &__column:last-child {
      width: calc(100% - 239px);
      @include is-responsive {
        width: 100%;
        margin-top: 20px;
      }
      .heading {
        @include font-line(27, 27);
        letter-spacing: 0.03em;
        font-weight: 700;
        margin-bottom: 33px;
        font-family: 'Zen Maru Gothic', sans-serif;
        @include is-responsive {
          @include font-line(24, 48);
          text-align: center;
          margin-bottom: 24px;
        }
        & span:first-child {
          display: inline-block;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -16px;
            left: 0;
            background-color: #fff;
            @include is-responsive {
              bottom: 0;
            }
          }
        }
        & span:nth-child(2) {
          @include font-line(16);
          @include is-responsive {
            @include font-line(14, 14);
          }
        }
      }
      .row {
        display: flex;
        justify-content: space-between;
        .paragraph {
          max-width: 379px;
          & p:first-child {
            font-family: 'Zen Maru Gothic', sans-serif;
            @include font-line(16, 28);
            letter-spacing: 0.02em;
            font-weight: 700;
            margin-bottom: 18px;
            @include is-responsive {
              @include font-line(14, 26);
            }
          }
          & p:last-child {
            @include font-line(14, 14);
            letter-spacing: 0.02em;
            font-weight: 500;
            @include is-responsive {
              @include font-line(11, 11);
            }
          }
        }
      }
    }
    .frame {
      width: calc(100% - 379px);
    }
    &__footer {
      @include font-line(13, 22);
      letter-spacing: 0.02em;
      font-weight: 500;
      margin-top: 31px;
      @include is-responsive {
        @include font-line(11, 20);
      }
    }
  }
  &02 {
    max-width: 768px;
    margin: 0 auto 50px;
    border-radius: 20px;
    padding: 34px 42px;
    &:last-child {
      margin: 0 auto 0;
    }
    @include is-responsive {
      padding: 34px 15px 25px;
      margin-bottom: 40px;
    }
    color: #fff;
    &--blue {
      background-color: #0082ca;
    }
    &--violet {
      background-color: #af5fb9;
      .drinking {
        margin-top: 29px !important;
      }
    }
    &--pink {
      background-color: #f273af;
    }
    .color__blue {
      color: #0082ca;
    }
    .color__violet {
      color: #af5fb9;
    }
    .color__pink {
      color: #f273af;
    }
    &__heading {
      text-align: center;
      margin-bottom: 19px;
      p {
        @include font-line(26, 26);
        font-weight: 700;
        letter-spacing: 0.06em;
        position: relative;
        font-family: 'Zen Maru Gothic', sans-serif;
        @include is-responsive {
          @include font-line(14, 14);
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 120px;
          height: 2px;
          border-radius: 4px;
          background-color: #ffffff;
          @include is-responsive {
            width: 13%;
          }
          @include is-max(350px) {
            width: 20px;
          }
        }
        &::before {
          left: 0;
          @include is-responsive {
            left: -15px;
          }
        }
        &::after {
          right: 0;
          @include is-responsive {
            right: -15px;
          }
        }
      }
      img {
        width: 359px;
        margin-top: 24px;
        @include is-responsive {
          width: 230px;
        }
      }
    }
    .flavor {
      min-height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      font-weight: 700;
      border-radius: 100px;
      @include font-line(22, 22);
      letter-spacing: 0;
      position: relative;
      margin-bottom: 25px;
      @include is-responsive {
        @include font-line(12, 12);
        min-height: 28px;
        &.color__blue {
          justify-content: space-between;
          padding-left: 24px;
        }
      }
      span {
        border-radius: 30px;
        width: 145px;
        min-height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        @include font-line(14, 14);
        border: 1px solid #0082ca;
        @include is-responsive {
          min-height: 16px;
          max-width: 86px;
          @include font-line(9, 9);
        }
      }
      span.blue {
        border-color: #0082ca;
      }
      span.violet {
        border-color: #af5fb9;
      }
      span.pink {
        border-color: #f273af;
      }
    }
    &__main {
      .row {
        display: flex;
        justify-content: space-between;
        @include is-responsive {
          flex-direction: column;
        }
        .col {
          .circles {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 418.1px;
            margin-bottom: 15px;
            position: relative;
            @include is-responsive {
              width: 100%;
            }
          }
          .para1,
          .para2 {
            @include font-line(15, 24);
            font-weight: 500;
            letter-spacing: 0.06em;
            max-width: 413px;
            margin-bottom: 12px;
            @include is-responsive {
              max-width: 100%;
              @include font-line(12, 20);
              br {
                display: none;
              }
            }
          }
          .para2 {
            @include font-line(15, 24);
            margin-bottom: 0;
          }
          .sp-center {
            text-align: center;
            margin-bottom: 15px;
            img {
              width: 164px;
            }
          }
          .table-row {
            display: flex;
            justify-content: space-between;
            max-width: 413px;
            margin-top: 9px;
            @include is-responsive {
              max-width: 100%;
            }
            .table-col {
              width: 50%;
              &:last-child {
                .item:first-child {
                  border-left: none;
                  padding-bottom: 3px;
                }
                .item:last-child {
                  border-color: transparent;
                }
              }
              .item {
                padding: 10px 12px;
                border: 1px solid #fff;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include is-responsive {
                  padding: 2px 6px;
                }
                div {
                  @include is-responsive {
                    width: 50%;
                    position: relative;
                  }
                }
                & div:last-child {
                  p {
                    font-family:'Quicksand', sans-serif;
                    text-align: right;
                  }
                }
                p {
                  @include font-line(12, 18);
                  letter-spacing: 0.06em;
                  font-weight: 500;
                  @include is-responsive {
                    @include font-line(10, 14);
                  }
                  span {
                    @include font-line(9);
                  }
                }
                p.hide {
                  opacity: 0;
                }
                p.adjustfont {
                  @include font-line(10, 18);
                  @include is-max(321px) {
                    font-size: 2.56vw;
                  }
                }
                p.rl {
                  position: relative;
                  left: 9px;
                  @include is-responsive {
                    left: 0;
                    text-align: right;
                  }
                }
                p.rr {
                  position: relative;
                  right: 14px;
                  @include is-responsive {
                    right: 0;
                    text-align: left !important;
                    top: 3px;
                  }
                }
              }
            }
          }
          .drinking {
            background: #fff;
            border-radius: 14px;
            max-width: 195px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 15px 0 7px;
            margin-top: 48px;
            position: relative;
            @include is-responsive {
              max-width: 155px;
              margin: 25px auto 0;
            }
            &::before {
              background-color: transparent;
              content: "";
              height: 11px;
              left: 50%;
              position: absolute;
              top: -20px;
              transform: translateX(-50%);
              width: 18px;
              border-width: 10px;
              border-style: solid;
              border-color: white;
              border-left-color: transparent;
              border-right-color: transparent;
              border-top-color: transparent;
              @include is-responsive {
                border-width: 6px;
                top: -12px;
                width: 13px;
                height: 8px;
              }
            }
            p {
              @include font-line(16, 23);
              letter-spacing: 0.04em;
              font-weight: 700;
              font-family: 'Zen Maru Gothic', sans-serif;
              @include is-responsive {
                @include font-line(12, 17);
              }
            }
            .color__violet {
              margin-right: 21px;
            }
            .color__blue {
              margin-top: 7px;
            }
            img {
              position: relative;
              bottom: -4px;
              @include is-responsive {
                width: 56px;
              }
            }
          }
        }
      }
    }
    .frame__content {
      width: 100.6px;
      height: 96.5px;
      letter-spacing: 0.06em;
      margin-left: 0;
      p {
        @include font-line(15, 22);
      }
      @include is-responsive {
        position: unset;
        width: 60.46px;
        height: 58px;
        p {
          @include font-line(9, 11);
        }
      }
    }
  }
  &03 {
    z-index: 2;
    max-width: 980px;
    background: #306fb2;
    margin: 0 auto;
    border-radius: 20px;
    padding: 30px;
    color: #fff;
    text-align: center;
    position: relative;
    @include is-responsive {
      max-width: calc(100% - 32px);
      padding: 12px 12px 21px;
    }
    .row {
      display: flex;
      @include is-responsive {
        flex-direction: column;
      }
      .col {
        display: flex;
        align-items: center;
        @include is-responsive {
          &:first-child {
            margin-bottom: 21px;
            justify-content: center;
          }
          &:last-child {
            position: relative;
            flex-direction: column;
          }
        }
      }
    }
    &__btn {
      width: 150px;
      min-height: 44px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      bottom: 35px;
      background: #fff;
      border-radius: 100px;
      right: 29px;
      color: #306fb2;
      font-weight: 700;
      letter-spacing: 0;
      @include font-line(14, 14);
      padding: 0 0 0 21px;
      &::after {
        content: "";
        position: absolute;
        width: 21px;
        height: 13px;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        background: url(../tiny/raw/btn_arrow_after.svg) no-repeat;
        background-size: contain;
        background-position: 50%;
      }
    }
    &__btn-sp {
      width: 100%;
      min-height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      border-radius: 100px;
      position: relative;
      color: #306fb2;
      font-weight: 700;
      letter-spacing: 0;
      margin-top: 26px;
      @include font-line(12, 12);
      @include is-max(500px) {
        width: 240px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 10px;
        top: 50%;
        transform: translateY(-50%);
        right: 13px;
        background: url(../tiny/raw/btn_arrow_after.svg) no-repeat;
        background-size: contain;
        background-position: 50%;
      }
    }
    .frame {
      position: relative;
      width: 180px;
      margin: 0 19px 0 0;
      @include is-responsive {
        width: 144px;
        margin: 0 15px 0 0;
      }
      span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        background: #ffd500;
        min-height: 48px;
        width: 116px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #306fb2;
        font-weight: 700;
        @include font-line(14, 14);
        letter-spacing: 0;
      }
    }
    .para01,
    .para02 {
      p {
        font-family: 'Zen Maru Gothic', sans-serif;
        font-weight: 700;
      }
    }
    .para01 {
      p {
        letter-spacing: 0.02em;
      }
      & p:first-child {
        @include font-line(14, 14);
        position: relative;
        @include is-responsive {
          @include font-line(11, 11);
        }
        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 2px;
          height: 24px;
          background-color: #ffffff;
          border-radius: 3px;
          top: 50%;
          @include is-responsive {
            width: 1.6px;
            height: 19px;
          }
        }
        &::before {
          left: 0;
          transform: translateY(-29%) rotate(-18deg);
        }
        &::after {
          right: 0;
          transform: translateY(-29%) rotate(22deg);
        }
        span {
          @include font-line(13, 13);
          padding-top: 9px;
          display: inline-block;
          @include is-responsive {
            @include font-line(11, 11);
          }
        }
      }
      & p:last-child {
        margin-top: 13px;
        @include font-line(18, 18);
        @include is-responsive {
          @include font-line(14, 14);
        }
        span {
          @include font-line(12, 12);
          @include is-responsive {
            @include font-line(9, 9);
          }
        }
      }
    }
    .para02 {
      margin-left: 47px;
      @include is-responsive {
        margin-left: 0;
        width: 100%;
        position: relative;
      }
      p {
        letter-spacing: 0;
      }
      & p:first-child {
        @include font-line(24, 24);
        @include is-responsive {
          @include font-line(15, 25);
          letter-spacing: 0.04em;
          text-align: left;
          padding-left: 12px;
          display: flex;
          justify-content: center;
          span {
            position: relative;
            text-align: center;
            margin-left: 22px;
            right: 10px;
          }
        }
      }
      & p:last-child {
        position: relative;
        @include is-responsive {
          width: 240px;
          margin: 0 auto;
          margin-top: -4px;
        }
        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 23px;
          height: 4px;
          background-color: #ffffff;
          border-radius: 3px;
          top: 50%;
          transform: translateY(-50%);
          @include is-responsive {
            height: 2px;
            width: 18px;
          }
        }
        &::before {
          left: -6px;
          @include is-responsive {
            left: 0;
          }
        }
        &::after {
          right: -6px;
          @include is-responsive {
            right: 0;
          }
        }
        margin-top: 20px;
        @include font-line(38, 38);
        @include is-responsive {
          @include font-line(25, 25);
          letter-spacing: -0.08em;
        }
        span {
          @include font-line(37, 37);
          @include is-responsive {
            @include font-line(24, 24);
          }
        }
      }
    }
    &--01 {
      @include is-responsive {
        max-width: 100%;
      }
      .para02 {
        margin-left: 23px;
        & p:first-child {
          @include font-line(18, 18);
          @include is-max(1200px) {
            font-size: 16px;
          }
          @include is-responsive {
            margin-right: 20px;
            @include font-line(13, 22);
            letter-spacing: 0.04em;
            padding-left: 0px;
          }
        }
        & p:last-child {
          @include font-line(52, 26);
          letter-spacing: 0.01em;
          font-family:'Quicksand', sans-serif;
          font-weight: 600;
          @include is-max(1200px) {
            font-size: 46px;
          }
          @include is-responsive {
            @include font-line(34, 38);
            letter-spacing: 0.06em;
            text-align: left;
            padding-left: 8px;
            margin-top: 7px;
            span {
              @include font-line(13, 21);
              letter-spacing: 0.02em;
              text-align: center;
              width: 86px !important;
              height: 86px !important;
              top: -5px !important;
              right: -6px !important;
            }
          }
          &::after,
          &::before {
            content: unset;
          }
        }
      }
    }
  }
}
